 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                      &nbsp&nbsp&nbsp&nbsp From the beautiful, and sunny state
                      of California, only to be raised in Tulare county (think dairy cows
                      around every corner). Since agriculture was not a way of life for my family,
                      I knew my educational, and ultimately occupational, choices needed
                      be made based on the ability to adapt to any environement I may
                      find myself in.
                    </p>
                    <p>
                      &nbsp&nbsp&nbsp&nbsp As a child, I was enamored with the process of
                      problem solving, whether that be through playing with legos, or
                      taking apart  my mother's blender. Today, I can honestly admit that
                      I cared more about wanting to know how "things" work, rather than
                      how to put it back together. This determined the trajectory for the
                      majority of my education experience from grade-school, through univerisity.
                      It has since become easier to admit my infatuation with science, math, and history!
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                      &nbsp&nbsp&nbsp&nbsp This, of course, ultimately lead to undergrad studies at CSU
                      Fresno (Go Bulldogs!) in Engineering, and Mathematics (with a minor
                      in philosophy). During this time, I paid some of my tuition through
                      ethical hacking, web development, and tutoring others in various subjects.
                      I managed to take full advantage of what the university had to offer, to wit,
                      sitting-in on lectures I wasn't enrolled in, thereby leading to a greater
                      understanding in advanced physics, and computer science.
                    </p>
                    <p>
                      &nbsp&nbsp&nbsp&nbsp Throughout the years, I have also found myself
                      enjoying the process of making music (in a literal sense). Spending
                      time mastering the bass guitar, then moving on to the electric/acoustic
                      guitar, it wasn't long until I began to adapt my curious nature towards
                      this love of music. This began the journey of designing, and constructing
                      electric guitars, and various analog/digital effect pedals.
                    </p>
                    <p>
                      &nbsp&nbsp&nbsp&nbsp Of course, the journey doesn't stop there! I find myself
                      constantly in a state of searching for the next big project, or exploring
                      uncharted depths of knowledge. Looking forward to what the future has in store!
                    </p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
