
    <!-- Portfolio Grid Section -->
    <section id="blog_list" class="hideBlog">
      {% for category in site.categories %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{category | first}}</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row portfolio">
                  {% for catposts in category %}
                    {% if forloop.first %}
                      {% continue %}
                    {% endif %}
                    {% for post in catposts %}
                      <div class="portfolio-item">
                        <a href="{{ post.url }}" class="portfolio-link" data-toggle="modal">
                          <div class="caption">
                            <div class="caption-content">
                              <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                          </div>
                          <img src="../img/{{category | first}}/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                          <h4 class="postHeader">{{post.title}}</h4>
                        </a>
                      </div>
                    {% endfor %}
                  {% endfor %}
            </div>
        </div>
      {% endfor %}
    </section>
